<header class="bg-neutral-primary fixed w-full z-30 top-0 h-24 sm:h-32">
  <div class="max-w-screen-2xl flex items-center justify-between mx-auto px-4">

    <!-- Logo -->
    <a routerLink="inicio" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="assets/icon/Corazón y salud con ECG.png" class="sm:h-32 h-24" alt="Logo" />
    </a>

    <div class="flex gap-3 font-bold">
      <span *ngFor="let red of redes">
        <a href="{{red.link}}" class="flex items-center justify-center sm:w-10 sm:h-10 w-6 h-6 text-[#000] sm:border-2 border-1 border-[#000] rounded-full shadow-sm hover:shadow-md hover:bg-[#000] hover:text-white transition duration-300">
          <i class="{{red.icono}}"></i>
        </a>
      </span>
    </div>


  </div>
</header>