<header class="bg-neutral-primary fixed w-full z-30 top-0 h-24 sm:h-32">
  <div class="max-w-screen-2xl flex items-center justify-between mx-auto px-4">

    <!-- Logo -->
    <a routerLink="inicio" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="assets/icon/Corazón y salud con ECG.png" class="sm:h-32 h-24" alt="Logo" />
    </a>

     <!-- Redes sociales -->
    <div class="flex gap-3 font-bold">
      <!-- Facebook -->
      <a href="#" class="flex items-center justify-center w-10 h-10 text-[#000] border-2 border-[#000] rounded-full shadow-sm hover:shadow-md hover:bg-[#000] hover:text-white transition duration-300">
          <i class="fab fa-facebook-f"></i>
      </a>

      <!-- Instagram -->
      <a href="#" class="flex items-center justify-center w-10 h-10 text-[#000] border-2 border-[#000] rounded-full shadow-sm hover:shadow-md hover:bg-[#000] hover:text-white transition duration-300">
          <i class="fab fa-instagram"></i>
      </a>

      <!-- Twitter -->
      <a href="#" class="flex items-center justify-center w-10 h-10 text-[#000] border-2 border-[#000] rounded-full shadow-sm hover:shadow-md hover:bg-[#000] hover:text-white transition duration-300">
          <i class="fab fa-x-twitter"></i>
      </a>
    </div>


  </div>
</header>